<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/estilos.css">
	<link href="https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap" rel="stylesheet">
	<script type = "module" src = "https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"> </script>
	<script nomodule = "" src = "https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js"> </script>
	<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet"> 
	<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/7260373.js"></script> <!--Chat -->
	
	<title>Gzseguridad</title>
	<link rel="icon" type="image/png" href="img/logo2.png">

</head>
<body class="letra">
	<nav class="navbar navbar-expand-lg fixed-top">
		<div class="container">
			<img src="img/logo.png" class="logo-brand" alt="logo">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<ion-icon name="menu-outline"></ion-icon>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="#carouselExampleIndicators" id="Inicio">Inicio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#servicios" id="Servicios">Servicios</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#nosotros" id="Sobre nosotros">Sobre Nosotros</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#contact" id="Contacto">Contacto</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<br>

		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
			<!--<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			</ol>-->
			<div class="carousel-inner" role="listbox">
				<!--<div class="carousel-item active">
					<img class="d-block w-100" src="img/img1.jpg" alt="First slide" class="img-responsive">
				</div>-->
				<div class="carousel-item active">
					<img class="d-block w-100" src="img/img2.jpg" alt="Second slide" class="img-fluid">
				</div>
				<!--<div class="carousel-item">
					<img class="d-block w-100" src="img/img3.jpg" alt="Third slide" class="img-responsive">
				</div>-->
			</div>
			<!--<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Anterior</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Siguiente</span>
			</a>-->
		</div>
	<hr>

	<div class="botones">
		<a href="https://download.anydesk.com/AnyDesk.exe" title="Link de descarga">
			<button type="button" class="btn btn-danger">AD</button>
		</a>
		<a href="https://download.teamviewer.com/download/TeamViewerQS.exe" title="Link de descarga">
			<button type="button" class="btn btn-primary">TW</button>
		</a>
		<a href="https://docs.google.com/forms/d/e/1FAIpQLSeOwf4ZBecyF71ScgcvT-Fo54R1fB3_YUw_9jNSVhUBw0TBDg/viewform?vc=0&c=0&w=1" target="_blank" title="Link de Diagnostico">
			<button type="button" class="btn btn-success">DG</button>
		</a>
	</div><hr>

	<section id="servicios">
		<div class="container-fluid " id="imagen">
			<div class="content-center text-center topmargin-lg" id="p2">
				<h2 style="padding-top: 25px;">Nuestros Servicios</h2><br>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="servicios-container">
						<img src="img/administracion.png" class="img-fluid img-responsive img-rounded" alt="Servicio 1">
					</div>
				</div>

				<div class="col-md-4">
					<div class="servicios-container">
						<img src="img/servidor.png" class="img-fluid img-responsive img-rounded" alt="Servicio 2">
					</div>
				</div>

				<div class="col-md-4">
					<div class="servicios-container">
						<img src="img/redes1.png" class="img-fluid img-responsive img-rounded" alt="Servicio 3">
					</div>
				</div>

				<div class="col-sm-4">
					<div class="servicios-container">
						<img src="img/reparacion.png" class="img-fluid img-responsive img-rounded" alt="Servicio 4">
					</div>
				</div>

				<div class="col-sm-4">
					<div class="servicios-container">
						<img src="img/alarmas.png" class="img-fluid img-responsive img-rounded" alt="Servicio 5">
					</div>
				</div>

				<div class="col-sm-4">
					<div class="servicios-container">
						<img src="img/back.png" class="img-fluid img-responsive img-rounded" alt="Servicio 6">
					</div>
				</div>

				<div class="col-sm-4">
					<div class="servicios-container">
						<img src="img/camaras.png" class="img-fluid img-responsive img-rounded" alt="Servicio 7">

					</div>
				</div>

				<div class="col-sm-4">
					<div class="servicios-container">
						<img src="img/recuperacion.png" class="img-fluid img-responsive img-rounded" alt="Servicio 8">
					</div>
				</div>

				<div class="col-sm-4">
					<div class="servicios-container">
						<img src="img/community.png" class="img-fluid img-responsive img-rounded" alt="Servicio 9">	
					</div>
				</div>
			</div>
		</div>
	</section>
	<hr>

	<section id="nosotros">
		<div class="container-fluid topmargin-xs" style="margin-top: 1px;">
			<div class="card">
				<div class="card-header text-center" style="background-color: #A0D0E7!important;">
					<div class="card-title"><h2>Sobre Nosotros</h2></div>
				</div>
				<div class="card-body">
					<div class="content-center text-center" id="p1">
						<p1>Somos profesionales dedicados a ayudarte. Buscamos acercar servicios y productos informáticos a todas las empresas, nos encargamos de abarcar el mantenimiento informático, la seguridad de tus datos y reordenar o mejorar la infraestructura de tu red adaptándonos a tus posibilidades. Creemos que en la actualidad estamos cada vez mas sistematizados, y contar con personal que administre los recursos informáticos y proteja tu información es una necesidad que ira creciendo, nuestra meta es que cuentes con los mismos beneficios que tienen las grandes empresas al poseer su propia área tecnológica.</p1>
					</div>
				</div>
			</div>
		</div>
	</section>
	<hr>

	<section id="contact">
		<div class="container">
			<div class="row">
				<div class="col-md-6 topmargin-sm">
					<h2>Contacta Aquí</h2><br>
					<p>Podes hacernos todas las consultas que necesites.</p>
				</div>
				<div class="col-md-6 topmargin-sm">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" id="nombre" placeholder="Nombre" name="Nombre" v-model="datosContacto.Nombre">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" id="apellidos" placeholder="Apellido" name="Apellido" v-model="datosContacto.Apellido">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<input type="email" class="form-control" id="email" placeholder="Email" name="Email" v-model="datosContacto.Email">
							</div>
						</div>

						<div class="col-md-12">
							<div class="form-group">
								<input type="text" class="form-control" id="servicio" placeholder="Servicio solicitado" name="Servicio solicitado" v-model="datosContacto.Servicio">
							</div>
						</div>

						<div class="col-md-12">
							<div class="form-group">
								<textarea  class="form-control" id="mensaje" placeholder="Mensaje" name="Mensaje" v-model="datosContacto.Mensaje"> </textarea>
							</div>
						</div>
						<div class="col-md-12">
							<a class="btn btn-dark full-width text-white" v-on:click="enviarConsulta" >Haz tu consulta</a>
						</div>
						<div class="col-md-12 mt-2">
							<span class="alert alert-danger d-block" v-if="error.hayError" >{{error.mensaje}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><br>

	<section id="footer" class="bg-dark">
		<div class="container">
			<img src="img/logo.png" class="logo-brand" alt="Logo">
			<ul class="list-inline">
				<li class="list-inline-item footer-menu"><a href="#carouselExampleIndicators">Inicio</a></li>
				<li class="list-inline-item footer-menu"><a href="#servicios">Servicios</a></li>
				<li class="list-inline-item footer-menu"><a href="#nosotros">Sobre nosotros</a></li>
				<li class="list-inline-item footer-menu"><a href="#contact">Contacto</a></li>
			</ul>
			<ul class="list-inline">
				<li class="list-inline-item"><a href="https://api.whatsapp.com/send?phone=541122423826&text=Hola,como%20estas?Quiero%20consultar%20por%20el%20servicio..." target="_blank" title="Enviar Whatsapp a Gzseguridad"><i class="icon ion-logo-whatsapp"></i> (+54)11 2242-3826</a></li>
				<li class="list-inline-item"><a href="mailto:soporte@gzseguridad.com.ar" target="_blank" title="Enviar Email a Gzseguridad"><i class="icon ion-logo-dribbble"></i> soporte@gzseguridad.com.ar</a></li>
				<li class="list-inline-item"><a href="https://www.instagram.com/gzseguridad.arg/" target="_blank"title="Contactar por Instagram a Gzseguridad"><i class="icon ion-logo-instagram"  ></i> @gzseguridad.arg</a></li>
				<li class="list-inline-item"><a href="https://m.facebook.com/gzseguridad.arg?__nodl&_rdr" target="_blank" title="Contactar por Facebook a Gzseguridad"><ion-icon name="logo-facebook"></ion-icon> GzSeguridad.arg</a></li>
			</ul>
			<small>©2020 Gzseguridad. Created by MMC</small>
		</div>
	</section>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS --> 
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</body>

<script>

	var app = new Vue({
		el: '#contact',
		data: {
			datosContacto:{
				Nombre: "",
				Apellido: "",
				Email: "",
				Servicio:"",
				Mensaje:""
			},
			error:
			{
				hayError : false,
				mensaje : ""
			},
			success:{
				mostrar:false
			}
		},
		methods:{
			enviarConsulta()
			{
				this.validaciones();
				if(this.error.hayError == true)
				{
					hayError = false;
					return;
				}
				var data = this.datosContacto;


				fetch("bot.php",
				{
					method:"POST",
					body: JSON.stringify(data),
					headers:{
						'Content-Type': 'application/json'
					}
				})
				.then((response) =>
				{
					
					this.datosContacto.Nombre='';
					this.datosContacto.Apellido='';
					this.datosContacto.Email='';
					this.datosContacto.Servicio='';
					this.datosContacto.Mensaje='';
					setTimeout(() =>
					{
						this.success.mostrar = false;
					}, 3000)
					alert("¡Muchas gracias por enviar tu consulta! Estaremos respondiendo a la brevedad.");
				})
				.catch(error=>console.log(error));

			},
			validaciones()
			{
				this.error.hayError = false;
				this.error.mensaje = "";
				this

				if (this.datosContacto.Nombre == "" || this.datosContacto.Apellido == ""  || this.datosContacto.Email == "" || this.datosContacto.Servicio == "" || this.datosContacto.Mensaje == "") {
					this.error.hayError = true;
					this.error.mensaje = "Debe completar todos los campos";
					return;
				}
				else if (this.datosContacto.Nombre.length>40) { 
					this.error.hayError = true;
					this.error.mensaje = "Hubo inconvenientes al registrar su nombre. Vuelva a intentarlo por favor";
					return;
				}
				else if (this.datosContacto.Apellido.length>70) {
					this.error.hayError = true;
					this.error.mensaje = "Hubo inconvenientes al registrar su apellido. Vuelva a intentarlo por favor";
					return;
				} 
				else if (this.datosContacto.Email.length>100 || !this.datosContacto.Email.includes("@")) { 
					this.error.hayError = true;
					this.error.mensaje = "Hubo inconvenientes al registrar su email. Vuelva a intentarlo por favor";
					return;
				}else{
					this.error.hayError=false;
					this.error.mensaje="Su consulta ha sido enviada";
				}
			}
		}
	})
</script>
</html>